:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #121212; /* Dark background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #FFD700; /* Gold color */
  text-decoration: inherit;
}
a:hover {
  color: #FFEC8B; /* Light gold */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Make sure it covers the whole viewport height */
  padding: 2rem;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

button {
  border-radius: 12px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  background-color: #4B0082; /* Indigo color */
}
button:hover {
  background-color: #9370DB; /* Medium purple */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
